*.log

userEffects/
example/

.cache
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.scala_dependencies
.worksheet

.idea


## File-based project format:
*.iws
config.properties

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

*.ogg
*.wav

token.conf
